@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#header1-t H1 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-2btn-i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-i .nav .link,
#dropdown-menu-2btn-i .dropdown-item {
  font-size: 1.4em;
  color: #515151;
}
#dropdown-menu-2btn-i .navbar,
#dropdown-menu-2btn-i .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-i .dropdown-menu a:hover,
#dropdown-menu-2btn-i .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-i .navbar-toggler {
  color: #515151;
}
#contacts1-m P {
  color: #fad1c7;
  text-align: center;
}
#dropdown-menu-2btn-i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-i .nav .link,
#dropdown-menu-2btn-i .dropdown-item {
  font-size: 1.4em;
  color: #515151;
}
#dropdown-menu-2btn-i .navbar,
#dropdown-menu-2btn-i .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-i .dropdown-menu a:hover,
#dropdown-menu-2btn-i .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-i .navbar-toggler {
  color: #515151;
}
#msg-box4-13 .mbr-section-title {
  color: #abdbf2;
}
#dropdown-menu-2btn-1h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1h .nav .link,
#dropdown-menu-2btn-1h .dropdown-item {
  font-size: 1.4em;
  color: #515151;
}
#dropdown-menu-2btn-1h .navbar,
#dropdown-menu-2btn-1h .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1h .dropdown-menu a:hover,
#dropdown-menu-2btn-1h .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1h .navbar-toggler {
  color: #515151;
}
#dropdown-menu-2btn-1i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1i .nav .link,
#dropdown-menu-2btn-1i .dropdown-item {
  font-size: 1.4em;
  color: #515151;
}
#dropdown-menu-2btn-1i .navbar,
#dropdown-menu-2btn-1i .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1i .dropdown-menu a:hover,
#dropdown-menu-2btn-1i .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1i .navbar-toggler {
  color: #515151;
}
#dropdown-menu-2btn-1j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1j .nav .link,
#dropdown-menu-2btn-1j .dropdown-item {
  font-size: 1.4em;
  color: #515151;
}
#dropdown-menu-2btn-1j .navbar,
#dropdown-menu-2btn-1j .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1j .dropdown-menu a:hover,
#dropdown-menu-2btn-1j .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1j .navbar-toggler {
  color: #515151;
}
